@media #{$small-and-down} {
  .card-columns {
    column-count: 1;
  }
}

@media #{$medium-and-up} {
  .card-columns {
    column-count: 2;
  }
}

@media #{$large-and-up} {
  .card-columns {
    column-count: 3;
  }
}

.card-columns {
  column-break-inside: avoid;
}

.card {
  @extend .z-depth-1;
  display: inline-block;
  word-break: break-word;
  margin: 0.5rem;
  width: 99%;
  transition: all 0.5s;
  color: $primary-color-light;

  &:hover {
    @extend .z-depth-3;
    background-color: $primary-color-light;
    color: white;
  }

  a {
    color: inherit;
  }
}