$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

* {
  margin: 0;
}

body {
  min-height: 100%;
}

blockquote {
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-left: 0.25rem solid #eceeef;
}

a {
  color: #2962ff;
}

.header {
  padding: 2rem 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;

  @media (min-width: 576px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
  }

  h1 {
    font-size: 3rem;
    font-weight: normal;
    color: white;

    @media (min-width: 576px) {
      font-size: 4rem;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 300;

    @media (min-width: 576px) {
      font-size: 1.5rem;
    }
  }

  & + container {
    margin-top: 1rem;
  }
}

.not-footer {
  min-height: 100%;
  margin-bottom: 7rem;

  &:after {
    content: "";
    height: 6rem;
    display: block;
  }
}

.footer {
  height: 6rem;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.card-columns {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    word-break: break-word;
    margin: 0.5rem;
    width: 99%;
    transition: all 0.5s;

    &:hover {
      background-color: #82b1ff;
      color: white;
      box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    }
  }
}

@media #{$small-and-down} {
  .card-columns {
    @include column-count(1);
  }
}
@media #{$medium-and-up} {
  .card-columns {
    @include column-count(2);
  }
}
@media #{$large-and-up} {
  .card-columns {
    @include column-count(3);
  }
}

.quotes {
  .edit-icon {
    display: none;
  }
  .list-group-item-action:hover .edit-icon {
    display: inline-block;
  }
}

textarea.code {
  font-family: "Fira Code", "DejaVu Sans Mono", "Menlo", "Consolas", "Liberation Mono", "Monaco", "Lucida Console", monospace
}

#markdown-preview {
  border: 0.125rem solid #444;
  min-height: 5rem;
  padding: 1rem;
  margin-top: 1rem;
}