@import '../../node_modules/materialize-css/sass/components/color';
@import 'variables';
@import '../../node_modules/materialize-css/sass/materialize';

@import 'alert';
@import 'card-columns';

* {
  margin: 0;
}

hr {
  @extend .row;
}

body {
  min-height: 100%;
}

blockquote {
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-left: 0.25rem solid $primary-color-light;
}

.navbar {
  background-color: $primary-color-dark;
  color: white;
  z-index: 10;

  li {
    i {
      float: left;
    }
    span {
      margin-left: 15px;
    }
  }
}

.header {
  background-color: $primary-color-light;
  color: white;
  padding: 1rem 15px;
  padding-top: calc(1rem + 56px);
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;

  @media #{$medium-and-up} {
    padding-top: calc(4rem + 64px);
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
  }

  h1 {
    font-size: 3rem;
    font-weight: normal;
    color: white;

    @media #{$medium-and-up} {
      font-size: 4rem;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 300;

    @media #{$medium-and-up} {
      font-size: 1.5rem;
    }
  }

  a {
    color: $primary-color-dark
  }

  & + container {
    margin-top: 1rem;
  }
}

main {
  min-height: 100%;
  margin-bottom: 8rem;

  &:after {
    content: "";
    height: 6rem;
    display: block;
  }
}

.footer {
  height: 6rem;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: $primary-color-dark;
  color: $primary-color;
}

.quotes {
  .edit-icon {
    display: none;
  }
  .list-group-item-action:hover .edit-icon {
    display: inline-block;
  }
}

.status {
  @extend .chip;
  float: right;
  color: white;

  &.lg {
    @media #{$small-and-down} {
      display: block;
      width: 100%;
      margin: 0.5rem 0.25rem 0rem;
      float: none;
    }
  }

  &.sm {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
  }
}

textarea.code {
  font-family: "Fira Code", "DejaVu Sans Mono", "Menlo", "Consolas", "Liberation Mono", "Monaco", "Lucida Console", monospace
}

#markdown-preview {
  border: 0.125rem solid #444;
  min-height: 5rem;
  padding: 1rem;
  margin-top: 1rem;
}